
body {
    background-color: #f6cbd5;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: #FFFFFF;
    font-family: 'Tektur', cursive;
    margin-bottom: 60px;

}

.image {
    width: 350px;
    height: 200px;
}

.penampung {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    height: 80vh;
}
