* {
  margin: 0;
  padding: 0;
}

.box {
  height: 100px;
  width: 100px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

/* .container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

.card {
  display: flex;
  width: 700px;
  gap: 20px;
  border: 1px black solid;
}

.image-gede {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.image-kecil {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  gap: 10px;
  align-items: center;
}
